# Prerequisites
*.d

# Compiled Object Files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic Libraries
*.so
*.dylib
*.dll

# Fortran Module Files
*.mod
*.smod

# Compiled Static Libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Backup Files
*~
*.bak
*.swp

# Debug Files
*.dSYM
*.pdb
*.core

# CMake Files
CMakeFiles/
CMakeCache.txt
*.cmake
_deps/

# Build Directories
bin/
bin-int/
build/

# Documentation
Docs/

# Log Files
*.log

# Miscellaneous Files
*.tmp
*.temp

# User-Specific Files
*.user

# IDE-Specific Folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Visual Studio Files
.vs/
*.sln
*.vcxproj
*.vcxproj.filters

# IDE Project Files
*.suo
*.ncb
*.user
*.opendb
*.opensdf
*.sdf
*.sln.docstates
*.rsuser
*.vcxproj.user
